/* language 페이지 */

.translation-item {
    width: 100%;
    text-align: center;
}

.translation-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.translation-guide {
    margin-top: 10px;
    font-size: 14px;
    color: #91adad;
}